/*========== LAYOUT ==========*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

.header {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  padding: 35px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-size: 25px; 
  border-radius: 5px;
  line-height: 0px;
}

.header a.logo {
  font-size: 40px;
  font-weight: bold;
}

.header-right {
  float: right;
}

.header-right a:hover {
  color: rgb(10, 0, 0);
  font-size: 27px;
}

/* <!--========== HOME ==========-->  */
.home_container {
  display: flex;
  max-width: 100%;
  max-height: 50%;
  margin: 10px;
  margin-left: 20%;
  /* text-align: center; */
  background: rgb(255, 255, 255);
  color: black;
  padding: 25px;
  /* font-size: 40px; */
  /* align-items: flex-end; */
  margin-bottom: 10%;
}

.home_container2 {
  align-self: center;
  text-align: center;
}

.home_title {
  font-size: 50px;
  margin-bottom: 4px;
  margin-right: 50px;
  /* margin-left: 60%; */
  margin-block: 10px;
}
.home_subtitle {
  font-size: 30px;
  margin-bottom: 4px;
  margin-right: 50px;
}

.home_image1 {
  width: 600px;
  height: 500px;
  align-self: center;
  /* justify-self: center; */
}

/* <!--========== MENU ==========-->  */
.menu_container {
  display: flex;
  max-width: 100%;
  max-height: 50%;
  margin: 10px;
  margin-left: 20%;
  /* text-align: center; */
  background: rgb(255, 255, 255);
  color: black;
  padding: 25px;
  /* font-size: 40px; */
  /* align-items: flex-end; */
}

.menu_container2 {
  align-self: center;
  text-align: center;
}

.menu_title {
  font-size: 50px;
  margin-bottom: 4px;
  margin-right: 50px;
  /* margin-left: 60%; */
  margin-block: 10px;
}
.menu_subtitle {
  font-size: 50px;
  margin-bottom: 4px;
  margin-right: 50px;
  margin-left: 10%;
  margin-block: 10px;
}

.menu_image1 {
  width: 500px;
  height: 520px;
  align-self: center;
  /* justify-self: center; */
}
